*{padding:0px;
    margin: 0px;

}

#container {
  background-color: #000000;
}


/* navigation section */
.header{
    height: 70em;
}
.name{

    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
    text-align: right;

}

.header .description {
    color: #ffffff;
    font-size: 20px;
    margin-right: 100px;
    margin-top: -10px;
    text-align: right;

}

.dropdown{
margin-left: 30px;
margin-top: -130px;
}

a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: rgb(206, 199, 191);
  list-style: none;
  margin-top: 100px;
  padding: 0px;
}

li {
  
  color: #fff;
  background: rgb(160, 160, 160);
  display: block;
  float: left;
  padding: 30px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover {
  background: rgb(0, 0, 0);
  cursor: pointer;
}

ul li ul {
  background: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  min-width: 2px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

/* ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
} */

ul li ul li {
  clear: both;
  width: 100%;
}

.header .header_images{
    display:flex;
    margin-top: 40%;
    justify-content: center;
}
.header .gallery{
    margin: 30px;
}
.header .row1{
    height: 50em;
}
.header .btn3{
      display:flex;
      justify-content: center;
      margin-top: 20%;
}
.header .button3 {
  background-color: #c4c4c4; 
  font-weight: bold;
  font-size: 50px;
  padding: 15px 30px;
  display:flex;
  color: black; 
  border: 2px solid #ffffff;
}

.col-image .image{
position: flex;
opacity: 40%;
}
.col-image .image img{
    width: auto;
    height: 100%;
    margin-top: 100px;
}

.social{
  display:flex;
  margin-top: 290px;
padding-left: 10px;
  color: aqua;

}

.bio{
  color: white;
}
.bio_title{

            width: 0ch;
            color: white;
            float: left;
            font-family: sans-serif;
            font-weight:bold;
            font-size: 60px;
            overflow: hidden;
            white-space: nowrap;
            animation: typing 5s steps(22) 1s infinite alternate;
        }
        #typing span{
        color:red;}

        #crow {
            float: left;

      color: white;
            font-family: consolas;
            font-weight:bold;
            font-size: 60px;
            animation: crow 0.5s linear 0s infinite;
        }
        @keyframes typing {
            from {
                width: 0ch;
            }
            to {
                width: 25ch;
            }
        }
        @keyframes crow {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }




