*{padding:0px;
    margin: 0px;

}

#container {
  background-color: #000000;
}


/* navigation section */
.header{
    height: 70em;
}
.name{

    font-weight: bold;
    color: #ffffff;
    font-size: 50px;

}

.header .description {
    color: #ffffff;
    font-size: 20px;
    margin-left: 115px;
    margin-top: -10px;
}

.header ul {
  list-style-type: none;
  margin: 50px;
  margin-left: 700px;
  margin-top: 1.5%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header li {
  float: left;
}

.header li a, .dropbtn {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
}

.header li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(170, 9, 9, 0.2);
  z-index: 1;
}

.header .dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.header .header_images{
    display:flex;
    margin-top: 20%;
    justify-content: center;
}
.header .gallery{
    margin: 30px;
}
.header .row1{
    height: 50em;
}
.header .btn3{
      display:flex;
      justify-content: center;
      margin-top: 20%;
}
.header .button3 {
  background-color: #c4c4c4; 
  font-weight: bold;
  font-size: 50px;
  padding: 15px 30px;
  display:flex;
  color: black; 
  border: 2px solid #ffffff;
}

.col-image .image{
position: flex;
opacity: 40%;
}
.col-image .image img{
    width: auto;
    height: 100%;
}
