*{padding:0px;
    margin: 0px;

}

#container {
  background-color: #000000;
}


/* navigation section */
.header{
    height: 70em;
}
.name{

    font-weight: bold;
    color: #ffffff;
    font-size: 50px;

}

.header .description {
    color: #ffffff;
    font-size: 20px;
    margin-left: 115px;
    margin-top: -10px;
}



.header .header_images{
    display:flex;
    margin-top: 20%;
    justify-content: center;
}
.header .gallery{
    margin: 30px;
}
.header .row1{
    height: 50em;
}
.header .btn3{
      display:flex;
      justify-content: center;
      margin-top: 20%;
}
.header .button3 {
  background-color: #c4c4c4; 
  font-weight: bold;
  font-size: 50px;
  padding: 15px 30px;
  display:flex;
  color: black; 
  border: 2px solid #ffffff;
}

.col-image .image{
position: flex;
opacity: 40%;
}
.col-image .image img{
    width: auto;
    height: 100%;
}
